@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  background-color: mintcream;
  color: black;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.icon_menu {
  filter: invert(100%);
  display: none;
}

.navbar {
  background-color: saddlebrown;
  padding: 1.5rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu-principal ul {
  display: flex;
}

.navbar img {
  max-width: 100px;
}

.navbar .titulo {
  font-family: "Mulish", sans-serif;
  font-style: italic;
  font-size: 2rem;
  font-weight: 600;
  color: whitesmoke;
  margin-right: 15rem;
}

.navbar ul li a {
  font-weight: bolder;
  padding: 0.9rem 1.2rem;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.tracking-in-contract-bck {
  animation: tracking-in-contract-bck 0.6s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}
@keyframes tracking-in-contract-bck {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.bake {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1rem solid rgb(255, 197, 6);
  background-color: mintcream;
  color: black;
}

.bake-contenido {
  text-align: center;
  padding: 30px 0;
  margin: 20px 0;
}

.bake-contenido img {
  width: 560px;
  height: 315px;
  padding: 0%;
  border-radius: 0.5rem;
  margin-bottom: 5%;
}

.bake-lado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-left: auto;
  border: 1rem solid chocolate;
  border-radius: 1rem;
  width: 15%;
  height: auto;
  background-color: chocolate;
  color: whitesmoke;
}
.bake-subtitulo {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 5%;
}

.bake-text {
  text-align: center;
}

aside img {
  max-width: 200px;
}

aside img {
  max-width: 100px;
}

footer {
  background-color: saddlebrown;
  color: whitesmoke;
  padding: 1rem;
}

/* Video */

.video-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  background-color: mintcream;
  color: black;
  box-shadow: rgba(139, 69, 19, 0.361);
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border: 0.6rem solid rgba(139, 69, 19, 0.361);
  border-radius: 0.5rem;
  background-color: chocolate;
  color: whitesmoke;
  width: 60%;
}

.video-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
  margin-top: 15px;
}

/* Productos */

.productos {
  padding: 40px 0 40px;
}

.productos .productos-encabezado {
  margin-bottom: 100px;
}

.productos img {
  width: 70%;
  height: 150px;
  border-radius: 0.5rem;
  padding: 0;
  margin: 2rem;
  box-shadow: chocolate 0.2rem 0.2rem 0.2rem;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Clase Pasteleria */
.pasteleria-grupo {
  background: rgba(255, 197, 6, 0.578);
  color: black;
  border-radius: 0.5rem;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
}

.pasteleria-grupo-encabezado {
  padding: 5px 0 5px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.pasteleria-grupo-cuerpo a {
  color: chocolate;
}

.pasteleria-grupo-encabezado i {
  font-size: 1.3rem;
  font-weight: bolder;
  color: chocolate;
  cursor: pointer;
}

.pasteleria-grupo-cuerpo {
  display: none;
  font-style: italic;
  text-align: justify;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1rem;
}

/* Nosotros */

.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1rem solid rgb(255, 197, 6);
  background-color: mintcream;
  color: black;
}

.nosotros img {
  width: 560px;
  height: 315px;
  padding: 0%;
  border-radius: 0.5rem;
}

.nosotros .nosotros-encabezado {
  padding: 1rem;
  margin-bottom: 100px;
}

.nosotros .nosotros-contenido p {
  text-align: center;
  padding: 30px 0 30px;
  margin-top: 20px 0 20px;
  font-size: 1.2rem;
}

/* Clases contenedoras */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.navbar ul li a:hover:after {
  width: 100%;
  color: rgb(255, 197, 6);
}
.navbar ul li a:after {
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 rgb(255, 197, 6);
  content: "";
  display: block;
  height: 2px;
  width: 0;
}

.containersm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Clases de textos */

.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Contacto */

.contacto_container {
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}
.contact_form {
  width: 550px;
  padding: 2rem;
  display: flex;
  justify-content: center;

  flex-direction: column;
  background-color: saddlebrown;
  border-radius: 20px;
}
.contact_input_container {
  width: 100%;
  display: flex;
}

.contact_input {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  margin-bottom: 3%;
  padding: 3%;
}

.contact_textarea {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 3%;
  padding: 3%;
}

.contact_button {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  margin-bottom: 3%;
  padding: 3%;
  background-color: rgb(255, 197, 6);
  font-weight: bold;
  transition: all 0.3s ease;
  border: none;
}
.contact_button:hover {
  background-color: chocolate;
  color: #fafafa;
  border: 2px solid rgb(255, 197, 6);
}

.check_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.check_label {
  color: #fafafa;
  margin-right: 5%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .icon_menu {
    display: block;
  }
  .titulo {
    display: none;
  }
  .menu-principal {
    display: none;
  }
  .bake {
    display: block;
  }
  .bake-contenido {
    width: 100%;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bake-contenido img {
    width: 100%;
    height: auto;
  }
  .bake-text {
    width: 80%;
  }
  .bake-subtitulo {
    font-size: 1.8rem;
  }
  .bake-lado {
    display: none;
  }

  .video-container {
    width: 100%;
  }
  .video {
    width: 100%;
  }
  .video-contenido {
    width: 100%;
    height: auto;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
